* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px; */
  font-size: 62.5%;
}

.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
}

.mb-lg {
}

.mb-xlg {
}
