
@use "./Abstract/variables.scss" as variables;



html {
  /* 1rem = 10px; */
  font-size: 62.5%;
  @media only screen and (max-width: variables.$larget-size) {
    font-size: 50%;
  }
}

.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}
