@use "./base.scss";

%heading {
  font-weight: 300;
}

.heading-2 {
  @extend %heading;
  font-size: 3rem;
}

.heading-3 {
  @extend %heading;
  font-size: 1.5rem;
  color: base.$color-yellow-normal;
}
