@use "./base.scss";

%heading {
  font-weight: 300;
}

.heading-1 {
  @extend %heading;
  font-size: 4rem;
}

.text--white {
  color: white;
}

.heading-2 {
  @extend %heading;
  font-size: 3rem;
}

.heading-3 {
  @extend %heading;
  font-size: 2rem;
  color: base.$warm-yellowish-brown;
}

.heading-4 {
  @extend %heading;
  font-size: 1.5rem;
}
